* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
#title {
    color: white;
    text-align: center;
    font-size: 25px;
    margin-bottom: 25px;
}
.card .back-card img {
    max-width: 80px;
    max-height: 80px;
}
.container {
    height: 600px;
    width: 550px;
    background: black;
    border-radius: 10px;
    padding: 25px;
    box-shadow: 0 0 10px;
}
.cards,
.card,
.view {
    display: flex;
    align-items: center;
    justify-content: center;
}
#moves {
    font-size: 30px;
}
.cards {
    height: 500px;
    width: 500px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.cards .card {
    height: calc(100% / 4 - 10px);
    width: calc(100% / 4 - 10px);
    position: relative;
    perspective: 800px;
    transform-style: preserve-3d;
   
}
.cards .card .view {
    height: 100%;
    width: 100%;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 3px 5px;
    position: absolute;
    transition: transform .25s linear;
    backface-visibility: hidden;
    pointer-events: none;
    user-select: none;
}
.card .back-card {
    transform: rotateY(-180deg);
}
.card.flip .back-card {
    transform: rotateY(0);
}
.card.flip .front-card {
    transform: rotateY(180deg)
}
.card.shake {
    animation: vibration 0.38s ease-in-out;
}
@keyframes vibration {
    0%,
    100% {
        transform: translateX(0)
    }
    20% {
        transform: translateX(-13px)
    }
    40% {
        transform: translateX(13px)
    }
    60% {
        transform: translateX(-8px)
    }
    80% {
        transform: translateX(8px)
    }
    
}